/* Azeret Mono Font */
@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

/* universal style */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* shared styles start */
.bg-color{
    background-color: #0D1321;
}
.black{
    color: #0D1321;
}
.center{
    text-align: center;
}
.main-division{
        margin: 0 97px;
        background-color: white;
        width: 946px;
        height: 336px;
       
}
.main-division-padding{
    padding: 0 48px;
}
.btn{
    width: 171px;
    height: 47px;
    border: 1px solid #0D1321;
    margin-top: 32px;
    font-size: 20px;
    font-weight: 600;
    background-color: white;
   }
   .main-title-common{
    text-align: center;
    font-weight: 900;
    font-size: 32px;
}
/* shared styles end */
/* body tag */
body{
    font-family: "Azeret Mono", monospace;
}
/* header starts */
.header-banner{
    width: 100%;
    height: 652px;
    background-image: url('../images/Hero-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.header-banner-img{
    height: 240px;
    width: 240px;
}
.header-banner-h1{
    font-size: 48px;
    font-weight: 900;
    margin: 0 221px;
    text-align: center;
}
.header-banner-p{
    font-size: 16px;
    margin-top: 24px;
}
.header-banner-btn{
    width: 244px;
    height: 65px;
    background-color: #0D1321;
    margin-top: 32px;
    color: white;
    font-size: 20;
    font-weight: 600;
    border-radius: 8px;
    border: none;
}
/* header ends */
/*  main starts */
.main-container{
    margin: 74px auto;
    width: 1140px;
    height: 1393px;
    background-color: #ADC8F7;
}
.main-title{
    padding-top: 80px;
   }
   .main-subtitle{
    font-size: 16;
    text-align: center;
    margin: 0 144px;
    padding-top: 24px;
   }
   .main-upper{
    margin-top: 48px;
    display: flex;
   }
   .main-upper-left{
    width: 477px;
   }
   .main-upper-left-h1{
    padding-top: 48px;
    font-size: 24px;
    font-weight: 700;
   }
   .main-upper-left-p{
    padding-top: 16px;
    font-size: 16px;
   }
   .main-upper-left-button{
    margin-left: 48px;
   }
   .main-upper-right{
    width: 274px;
    height: 240px;
    margin-left: 99px;
    margin-top: 11px;
   }
   .main-middle{
    margin-top: 32px;
    display: flex;
   }
   .main-middle-left{
    width: 240px;
    height: 240px;
    margin-top: 48px;
}
.main-middle-right{
    height: 219px;
    width: 477px;
    margin-top: 59px;
    margin-left: 32px;
}
.main-middle-right-h1{
    padding-top: 11px;
}
.main-lower{
margin-top: 32px;
display: flex;
   }
/*  main ends */
/* article starts */
.article-header{
    width: 1140px;
    height: 775px;
    border: 10px solid darkred;
    margin: 90px auto 0;
}
.article-header-body{
    margin-top: 48px;
    width: 100%;
    height: 614px;
    border: 1px solid #0D1321;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.article-header-body-video{
    width: 1076px;
    height: 550px;
    border: none;
    border-radius: 16px;
}